@media (max-width: 1199px) {
    .nav {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 45px 30px;
        background-color: rgb(163, 163, 163);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        z-index: 10;
        opacity: 0;
        transform: translateY(-400px);
        transition: transform .3s ease-in-out;
        border-bottom-left-radius: 15px;
    }

    .nav-active {
        opacity: 1;
        transform: translateY(0);
        transition: transform .3s ease-in-out;
    }

    .nav-active .nav__link {
        color: var(--white-color);
    }

    .header__btn {
        margin-right: 32px;
        padding: 8px 40px;
    }

    .header__btn-burger {
        display: flex;
        padding-right: 9px;
        padding-left: 0;
        z-index: 13;
    }

    .services__title {
        max-width: 603px;
    }

    .services__content {
        grid-template-columns: minmax(420px, auto);
        grid-template-rows: repeat(2, 233px);
    }

    .services__card {
        display: flex;
        flex-direction: column;
        padding-left: 33px;
        padding-bottom: 33px;
    }

    .card__btn,
    .services--book .card__btn {
        position: static;
        max-width: 148px;
        margin-top: auto;
        padding: 14px 7px;
    }

    .services--sign-up {
        grid-row: span 1;
    }

    .services--book {
        grid-column: 1/2;
    }

    .services--estimation {
        grid-row: span 1;
        grid-column: 2/3;
    }

    .services--sign-up::before {
        width: 217px;
        height: 93px;
        bottom: 0;
        right: 6px;
        left: auto;
        background-size: cover;
    }

    .services--application::before {
        width: 217px;
        height: 93px;
        right: 6px;
        background-image: url('../image/bg.png');
        background-size: cover;
    }

    .services--application::after {
        display: none;
    }

    .services--book::before {
        height: 93px;
        width: 217px;
        right: 7px;
        background-image: url('../image/bgimg.png');
    }

    .services--estimation::before {
        width: 210px;
        height: 92px;
        right: 0;
        bottom: 5px;
    }

    .services--estimation::after {
        display: none;
    }
}

@media (max-width: 899px) {
    /* .container {
        max-width: 720px;
    } */

    .header__top {
        padding-bottom: 0;
    }

    .header__bottom {
        display: none;
    }

    .services__content {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 233px);
        grid-auto-rows: 233px;
    }

    .services__card {
        grid-column: 1/1;
    }

    .card__title {
        margin-bottom: 12px;
    }

    .services--book::before {
        right: 15px;
    }

    .services--book .card__descr {
        max-width: 298px;
    }

    .services--estimation::before {
        right: 26px;
        width: 229px;
        height: 104px;
    }

    .services--sign-up::before {
        right: 21px;
    }

    .services--application::before {
        right: 64px;
        width: 218px;
        height: 115px;
    }

    .services--sign-up::before,
    .services--book::before {
        width: 284px;
        height: 123px;
    }
}

@media (max-width: 599px) {
    .container {
        padding-left: 26px;
    }

    .header__container {
        padding-top: 15px;
        padding-bottom: 12px;
        padding-right: 20px;
    }

    .header__btn {
        display: none;
    }

    .header__btn-burger {
        padding-left: 5px;
        padding-right: 3px;
    }

    .main__container {
        padding-top: 36px;
        padding-right: 15px;
    }

    .services__title {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .services__content {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 194px);
        grid-auto-rows: 194px;
    }

    .services__card {
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    .services--book .card__btn {
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .services--book {
        padding-bottom: 21px;
    }

    .card__title {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 137%;
    }

    .card__descr {
        margin: 0;
    }

    .card__btn {
        padding: 12px 7px;
        margin-top: auto;
        max-width: 148px;
    }

    .services--book .card__descr {
        max-width: 245px;
    }

    .services--estimation .card__title {
        max-width: 224px;
    }

    .services--sign-up::before {
        width: 146px;
        height: 69px;
        right: 8px;
    }

    .services--application::before {
        width: 138px;
        right: -2px;
        top: 132px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .services--book::before {
        width: 143px;
        height: 72px;
        right: 28px;
    }

    .services--estimation::before {
        width: 128px;
        height: 59px;
        right: 10px;
    }

    .services--sign-up::before {
        width: 149px;
        height: 68px;
    }
}